!!!5
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(charset="utf-8")
    link(href="style.css", rel="stylesheet")
    //-script(src="vendor/socket.io.min.js")
    //-script window["socket.io"] = io;
    script(src="pakmanaged.js")
    title Proxcribe
  body
    #content
      h2 Proxcribe
      form#proxcribe
        table
          thead
            tr
              th Device
              th Resource
              th Proxy
              th Protocol
              th 
          tbody
            tr
              td
                | http://
                //-input(name="host", type="text", value="syndicate.coolaj86.info:3737")
                select(name="host")
                  option(value="spotter22.spotter360.org") spotter22.spotter360.org
                  option(value="remote.spotterrf.com:7771") remote.spotterrf.com:7771
                  option(value="remote.spotterrf.com:7772") remote.spotterrf.com:7772
                  option(value="remote.spotterrf.com:7773") remote.spotterrf.com:7773
                  option(value="remote.spotterrf.com:7774") remote.spotterrf.com:7774
              td
                //-input(name="resource", type="text", value="foo.json")
                select(name="resource")
                  option(value="tracks.json") tracks.json
                  option(value="cot.track.xml") cot.track.xml
                  option(value="gps.json") gps.json
                  option(value="detections.json") detections.json
              td
                //-input(type="text", disabled="disabled", value="this")
              td
                select(name="protocol")
                  //-option(value="get", selected="selected") http (GET)
                  option(value="http:") http:
                  option(value="tcp:") tcp:
                  option(value="udp:") udp:
              td
                input(type="submit", value="Proxcribe")

      h2 Proxcriptions
      #results
        table.proxcriptions
          thead
            tr
              th Device
              th Runtime
              th Uptime
              th Packets
              th Type
          tbody
            tr.row
              td.devicename devicename
              td.runtime 264
              td.uptime 264
              td.packets
                ul
                  li 1844
              td.packettype
                ul
                  li geolocation.json
              td.size
                ul
                  li 0
